<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suitetest">
  <test thread-count="5" name="TestExample">
    <classes>
      <class name="com.cjc.log4jDemo.MercuryTest"/>
    </classes>
  </test> <!-- TestExample -->
</suite> <!-- Suitetest -->
